<h2> <%= knife.description %> </h2>

<div>
    material: <%= knife.material %>
</div>

<div>
    Handle: <%= knife.handle %>
</div>

<div>
    Price: <%= knife.price %>
</div>
<div class="detail">
    <img src="<%= knife.picture %>">    
</div>

<hr>