<h1> <%= knife.description %> </h1>

<div class="add">
    <% if(currentUser) { %> 
        <% if(currentUser.isManager == true) { %> 
            <div class="deleteAndEdit" >
                <a href='/knife/<%= knife.id %>/delete'> Delete </a>&nbsp;
                <a href='/knife/<%= knife.id %>/edit'> Edit </a>
            </div>
        <% } %>
    <% } %>
</div>

<div class="content">
    <div class="detail">
        <img src="<%= knife.picture %>">    
    </div>
    <div>
        material: <%= knife.material %>
    </div>
    
    <div>
        Handle: <%= knife.handle %>
    </div>
    
    <div>
        Price: <%= knife.price %>
    </div>
    
</div>



<hr>