<h1> <%= knife.description %> </h1>
<div class="deleteAndEdit" >
    <a href='/knife/<%= knife.id %>/delete'> Delete </a>
    <a href='/knife/<%= knife.id %>/edit'> Edit </a>
</div>
<div>
    material: <%= knife.material %>
</div>

<div>
    Handle: <%= knife.handle %>
</div>

<div>
    Price: <%= knife.price %>
</div>
<div class="detail">
    <img src="<%= knife.picture %>">    
</div>

<hr>