<h1><%= brand.name %></h1>

<div class="add">
    <% if(currentUser) { %> 
        <% if(currentUser.isManager == true) { %> 
            <div class="deleteAndEdit" >
                <a href='/brand/<%= brand.id %>/delete'> Delete </a>&nbsp;
                <a href='/brand/<%= brand.id %>/edit'> Edit </a>
            </div>
        <% } %>
    <% } %>
</div>

<div class="container">
    <div class="row">
        <% knifes.forEach(function(knife) { %>
            <div class="col">
                <div class="card">
                    <div class="card_img img_size">
                        <img calss="img_size" src="<%= knife.picture %>" >
                    </div>
                    <div class="name">
                        <a href="/knife/<%= knife.id %>">
                            <%= knife.description %>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div> 